<html>
    <head>
        
        <title>hbbq.github.io</title>

        <script src="vue.min.js"></script>
        <script src="vue-resource.min.js"></script>
        <script src="lodash.min.js"></script>
        <script src="me.js" charset="utf-8"></script>
        <script src="i18n.js" charset="utf-8"></script>

        <link rel="stylesheet" href="style.css"></link>

    </head>
    <body>

      <div id="page-app">  

        <div class="righty">
          
          <div v-for='exp in experience'>

            <table style="width: 400px;">
              <tr v-if='exp.type == "work"'><td>Work</td></tr>
              <tr v-if='exp.type == "work"'><th>{{exp.employer.name}} - {{exp.title}}</th></tr>
              <tr v-if='exp.type == "education"'><td>Education</td></tr>
              <tr v-if='exp.type == "education"'><th>{{exp.school.name}}</th></tr>
              <tr><td>{{exp.start}} - {{exp.end}}</td></tr>
              <tr><td>{{exp.description}}</td></tr>
              <tr v-if='exp.keywords.length > 0'>
                <td><slot v-for='word in exp.keywords'>#{{word}} </slot></td>
              </tr>
            </table>

            <br>

          </div>

        </div>

        <div class="righty">
          <table>
            <tr>
              <th>Technique</th>
              <th v-for='year in years'>{{year | shortYear}}</th>
            </tr>
            <tr v-for='tech in techniques'>
              <td>{{tech.name}}</td>
              <td v-for='year in years' v-bind:class="tech.work.includes(year) ? 'work' : (tech.education.includes(year) ? 'education' : (tech.private.includes(year) ? 'private' : ''))"></td>
            </tr>
          </table>
        </div>

        <div class="righty">
            <table>
              <tr><th>Private experience</th></tr>
              <tr v-for='word in medata.privateexperience'><td>#{{word}}</td></tr>
            </table>
        </div>

        <div class="lefty">

          <table>
            <tr><th>WakaTime Stats</th></tr>
            <tr>
              <td>

                <div v-for="type in loadedWakaTypes" class="undecidy">
                  <table>
                    <tr>
                      <th>{{type.header}}</th>
                      <th>7 days</th>
                      <th>30 days</th>
                      <th>Year</th>
                    </tr>
                    <tr v-for='x in type.sortedData()'>
                      <td v-bind:style="{color: x.color}">{{x.name}}</td>
                      <td v-bind:class="['number', x.direction7 ]">{{x.percent7 | fixed(2)}}%</td>
                      <td v-bind:class="['number', x.direction30 ]">{{x.percent30 | fixed(2)}}%</td>
                      <td class="number">{{x.percentYear | fixed(2)}}%</td>
                    </tr>
                  </table>
                </div>

              </td>
            </tr>
          </table>

        </div>
        
        <div v-if="githubdata.loaded" class="lefty">
          <table>
            <tr><th colspan="3">{{t('CommitsTitle')}}</th></tr>
            <tr v-for="event in githubCommits">
              <td>{{event.created_at | cleanDate}}</td>
              <td>
                <div v-for="commit in event.payload.commits"><a :href="'https://github.com/' + event.repo.name + '/commit/' + commit.sha" target="_blank">{{commit.message}}</a></div>
              </td>
              <td><a :href="'https://github.com/' + event.repo.name" target="_blank">{{event.repo.name}}</a></td>
            </tr>
          </table>
        </div>

      </div>      
      <script src="pageApp.js"></script>

    </body>

</html>