<html>
    <head>
        
        <title>x</title>
        <script src="v.m.js"></script>
        <script src="i18n.js" charset="utf-8"></script>
        <link rel="stylesheet" href="style.css"></link>

    </head>
    <body>

        <div id="lang-app">                        
            <div v-if="langdata.loaded">                          
              <table>
                    <tr>
                        <th>{{t('Language')}}</th>
                        <th class="number">{{t('Percentage')}}</th>
                    </tr>
                    <tr v-for='lang in orderedLanguages'>
                        <td>{{lang.name}}</td>
                        <td class="number">{{lang.percent | fixed(2)}}%</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <script src="langApp.js"></script>

    </body>
</html>