<html>
    <head>
        
        <title>hbbq.github.io</title>

        <script src="vue.min.js"></script>
        <script src="vue-resource.min.js"></script>
        <script src="lodash.min.js"></script>
        <script src="me.js" charset="utf-8"></script>
        <script src="i18n.js" charset="utf-8"></script>

        <link rel="stylesheet" href="style.css"></link>

    </head>
    <body>

      <div id="page-app">  

        <div style="float: right;">
          
          <div v-for='exp in orderedExperience'>

            <table style="width: 400px;">
              <tr>
                <th>{{exp.employer.name}} - {{exp.title}}</th>
              </tr>
              <tr>
                <td>{{exp.start}} - {{exp.end}}</td>
              </tr>
              <tr>
                <td>{{exp.description}}</td>
              </tr>
              <tr v-if='exp.keywords.length > 0'>
                <td><slot v-for='word in exp.keywords'>#{{word}} </slot></td>
              </tr>
            </table>

            <br>

          </div>

        </div>

        <div v-if="langdata.loaded">     
          <table>
              <tr>
                <th colspan="2">{{t('LanguagesTitle')}}</th>
              </tr>
              <tr v-for='lang in orderedLanguages'>
                <td>{{lang.name}}</td>
                <td class="number">{{lang.percent | fixed(2)}}%</td>
              </tr>
          </table>
          <div class="poweredby">
            (Powered by <a href="https://wakatime.com/" target="_blank">wakatime.com</a>)
          </div>
        </div>

        <br>

        <div v-if="githubdata.loaded">
          <table>
            <tr>
              <th colspan="3">{{t('CommitsTitle')}}</th>
            </tr>
            <tr v-for="event in githubCommits">
              <td>{{event.created_at | cleanDate}}</td>
              <td>
                <div v-for="commit in event.payload.commits">
                  <a :href="'https://github.com/' + event.repo.name + '/commit/' + commit.sha" target="_blank">{{commit.message}}</a>
                </div>
              </td>
              <td><a :href="'https://github.com/' + event.repo.name" target="_blank">{{event.repo.name}}</a></td>
            </tr>
          </table>
        </div>

      </div>      
      <script src="pageApp.js"></script>

    </body>

</html>