body {
    color: #000000;
    font-family: "Trebuchet MS",Arial,Geneva;
    margin: 0;
}

#lang-app {
    background: #f0f0f0;
    padding: 8px;
}

#lang-app table {
    border-spacing: 0;
    border-collapse: collapse;
}
#lang-app th,
#lang-app td {
    background: #ffffff;
    vertical-align: top;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px; 
    border: 1px solid #666666;
}
#lang-app th {
    color: #ff6b00;
}
#lang-app th.number, 
#lang-app td.number {
    text-align: right;
}