body {
    background: #222;
    color: #995;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    margin: 0;
}

/* lang-app */

#page-app {
    padding: 8px;
}

#page-app table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 13px;
}
#page-app th,
#page-app td {
    background: #000;
    vertical-align: top;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px; 
    border: 1px solid #666666;
}
#page-app th {
    color: #000;
    background: #777;
}
#page-app th.number, 
#page-app td.number {
    text-align: right;
}

#page-app .poweredby {
    padding-top: 5px;
    font-size: 13px;
}

#page-app td.up {
    background: #006600;
}

#page-app td.down {
    background: #660000;;
}

#page-app div.lefty {
    float: left;
    padding: 10px;
}

#page-app div.righty {
    float: right;
    padding: 10px;
}

#page-app div.undecidy {
    float: unset;
    padding: 10px;
}

#page-app a {
    color: #559;
}

#page-app a:hover {
    color: #99d;
}

#page-app td.work {
    background: #006600;
}
#page-app td.education {
    background: #000099;
}
#page-app td.private {
    background: #006666;
}