body {
    background: #cccccc;
    color: #000000;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    margin: 0;
}

/* lang-app */

#lang-app {
    padding: 8px;
}

#lang-app table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 13px;
}
#lang-app th,
#lang-app td {
    background: #ffffff;
    vertical-align: top;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px; 
    border: 1px solid #666666;
}
#lang-app th {
    color: #6666cc;
    background: #e0e0e0;
}
#lang-app th.number, 
#lang-app td.number {
    text-align: right;
}

#lang-app .poweredby {
    padding-top: 5px;
    font-size: 13px;
}